# <minute> <hour> <day_of_month> <month_of_year> <day_of_week> <user> <cmd>  for regular crontab
# <minute> <hour> <day_of_month> <month_of_year> <day_of_week> <cmd>         for root crontab
# https://crontab.guru/
# supercronic: https://github.com/aptible/supercronic

# (first of every month)
0 0 1 * * /root/acme-renew.sh
